body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/** Control Components **/
.btn {
    text-transform: none;
}

.btn-secondary, .btn-secondary.focus, .btn-secondary:focus, .btn-secondary:hover {
    background-color: #e9e7e7;
    border: solid #ebe7e7;
    color: #212529;
}

.btn-blue, .btn-blue.focus, .btn-blue:focus, .btn-blue:hover {
    border: solid #3a83f0;
    color:  #3a83f0;
}

.dropbtn {
    background-color: #1266f1;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px #1266f1; */
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #1266f1;}

.radio-middle {
	vertical-align: middle;
}

/** Container Components **/
/*reference: https://stackoverflow.com/questions/17782795/bootstrap-striped-div-table*/
.div-striped .row:nth-of-type(odd) div {
    background-color: rgba(0,0,0,.075);
}
.div-striped .row:nth-of-type(even) div {
    background: white;
}
.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 273px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/** Navigation **/
.navbar {
    border-bottom: solid rgb(231, 228, 228);
    font-size: 15px;
}
.nav-item-button
{
    margin-left: 6px;
    margin-right: 6px;
}

/** General Styles **/
.font-bold
{
    color: black;
    font-weight: bold;
}

.blue, .brand {
    color:#0b6abd;
}
.brand:hover {
    cursor: pointer;
}

.no-border {
    border: 0 transparent;
}

.no-spacing, ul.no-spacing, ul.no-spacing> li, li.no-spacing {
    padding: 0;
    padding-right: 10px;
    border-spacing: 0;
}

.no-scrollbar 
{
    overflow: hidden;
} 